body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(182, 78, 60, 0.705);
    line-height: 1.5;
    font-size: 24px;
    font-weight: 500;
}

.intro {
    color: rgba(182, 78, 60, 0.705);
    line-height: 1.5;
    font-size: 28px;
    font-weight: 500
}

strong {
    color: rgba(77, 205, 228, 0.705);
    line-height: 1.5;
    font-size: 30px;
    font-weight: 600
}

tt {
    color: rgba(27, 154, 177, 0.733);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300
}

a:hover {
    color: rgb(250, 248, 248);
    line-height: 1.5;
    font-size: 25px;
    font-weight: 400
}

ul {
    color: rgba(20, 120, 138, 0.733);
    list-style: square;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300
}

ol {
    color: rgba(20, 120, 138, 0.733);
    list-style: decimal;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300
}

th {
    color: rgb(245, 248, 248);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300
}

td {
    color: rgb(52, 133, 226);
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300
}
h2{ color: rgba(0, 204, 255, 0.959);
    line-height: 1.5;
    font-size: 30px;
    font-weight: 500}
h1{ color: rgba(0, 58, 124, 0.527);
    line-height: 1.5;
    font-size: 35px;
    font-weight: 500}